---
interface Props {
  title: string;
  description: string;
  noindex?: boolean;
}

const { title, description, noindex = true } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title}</title>
<meta name="description" content={description} />
{noindex && <meta name="robots" content="noindex, nofollow" />}
<meta name="theme-color" content="#12365f" />
